{% extends 'base.html' %}

{% block content %}
  <p>Output.</p>
  <!-- First element raw output
  <pre>{{ data.value.0 }}</pre>
  -->
  <ul>
  {% for element in data.value %}
    <li>
      <img src="data:img/png;base64,{{ element.quicklook }}"><br>
      ID: {{ element.id }}<br>
      Name: {{ element.name }}<br>
      Creation Date: {{ element.creationDate }}<br/>
      Begin Position: {{ element.beginPosition }}<br/>
      Offline: {{ element.offline }}<br/>
      Size: {{ element.size }}<br/>
      PseudoPath: {{ element.pseudopath }}<br/>
      Footprint: footprint [TODO]<br>
      Downloadable: {{ element.downloadable }}
    </li>
  {% endfor %}
  </ul>
{% endblock content %}
