/* Atlas Stylesheet */
body {
  background: #ecf0f3;
  padding-bottom: 4rem;
  padding-top: 2rem;
}

.card {
  border-radius: 0;
  .card-title {
    font-size: 0.875rem;
  }
  .card-text {
    font-size: 0.875rem;
  }
}

.card-img {
  border-radius: 0;
}
